.feedback-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.feedback-header, .feedback-row {
    display: flex;
}

.feedback-box {
    width: 80px; 
    height: 80px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 0px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    white-space: normal; 
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
}

.header {
    width: 80px; 
    height: 40px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: clamp(10px, 2vw, 15px); 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal; 
}

.correct {
    background-color: green;
    color: rgb(9, 71, 9); 
}

.correct:hover {
    background: rgb(0, 153, 0);
}

.incorrect {
    background-color: rgb(204, 0, 0);
    color: rgb(58, 10, 10);
}

.incorrect:hover {
    background: rgb(255, 49, 49);
}

.partial {
    background-color: rgb(221, 144, 0);
    color: rgb(85, 52, 6); 
}

.partial:hover {
    background: rgb(255, 168, 6);
}

.arrow-icon {
    position: absolute;
    font-size: 80px;
    z-index: 0;
    color: currentColor; 
    opacity: 0.4; 
}

.feedback-value {
    position: relative;
    z-index: 2;
    color: white;
}


@keyframes virar {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.feedback-box.aparecendo {
    opacity: 0;
    transform-style: preserve-3d;
    animation: virar 0.6s ease-out forwards;
    backface-visibility: hidden;
}






