body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
@font-face {
    font-family: 'LOL';
    src: url('../assets/fonts/FrizQuadrataRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
.tituloLOL {
    font-family: 'LOL', sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: transparent; 
    background: linear-gradient(to bottom, rgb(236, 96, 2), rgb(231, 212, 104), rgb(245, 110, 0)); 
    -webkit-background-clip: text; 
    background-clip: text;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.tituloLOL:hover {
    transform: scale(1.1); 
    transform-origin: center center; 
}
  
.fontePadrao {
    color:antiquewhite;
    text-align: center;
}
  
body {
    background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.705)), 
                url('../assets/images/valhalla.jpg');
    background-size: cover;
    background-position: center;
}

.modo-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: -50px;
}

.modo-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px solid white;
    background-color: rgba(231, 231, 231, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.modo-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.modo-icon {
    font-size: 24px;
    color: white;
}

.selected {
    background-color: white;
}

.selected .modo-icon {
    color: black;
}

.input-container {
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin: 0 auto; 
}

.input-jogador {
    width: 220px;
    padding: 12px 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f3f4f6; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}
  


.btn-iniciar {
    background: linear-gradient(145deg, #caa544, #a36b1d);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: fit-content;
    margin: 25px auto;
}

.btn-iniciar:hover {
    background: linear-gradient(145deg, #e7c25b, #b47126);
    transform: translateY(-1px) scale(1.03);
}

.btn-iniciar:active {
    transform: scale(0.97);
}

.tentativa-container {
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin: 0 auto; 
}

.input-tentativa {
    width: 220px;
    padding: 12px 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f3f4f6; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    margin-right: 7px;
}

.btn-enviar {
    transition: all 0.3s ease-in-out;
    padding: 12px 16px;
    background-color: #ac810c; 
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background: linear-gradient(145deg, #caa544, #a36b1d);
    font-weight: bold;
    display: flex;  
}

.btn-enviar:hover {
    background: linear-gradient(145deg, #e7c25b, #b47126);
    transform: translateY(-1px) scale(1.03);
    
}

.btn-enviar:active {
    transform: scale(0.97);
    background-color: #916c0a;
}









  
  